outputs/**
!outputs/info.txt


# Ignore python virtual environments and cache files.
.venv/
__pycache__/
*.pyc

# Ignore env var files
*.env

# Local Terraform state and caches
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Lock files (keep .terraform.lock.hcl)

# Sensitive vars and logs
*.tfvars
crash.log